  <div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="display-3 text-white animated slideInDown">SUBJECTS</h1>
        <nav aria-label="breadcrumb">
         
        </nav>
      </div>
    </div>
  </div>
</div>

  
  
  
  <div class="container">
    <h1 class="mb-3 text-center"></h1>
    <div class="row g-4">

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" routerLink="/student/data_structures" style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <h5 class="mb-3">Data Structures and Algorithms</h5>
            <p>
              Master the logic behind efficient coding with essential data
              structures and algorithms.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" routerLink="/student/cloud_computing"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <h5 class="mb-3">Cloud Computing</h5>
            <p>
              Evaluate your knowledge of cloud models, services, and
              infrastructure through real-world quiz scenarios.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" routerLink="/student/computer_networks"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-primary mb-4"></i>
            <h5 class="mb-3">Computer Networks</h5>
            <p>
              Test your knowledge of networking concepts, OSI model, protocols,
              IP addressing, and data transmission basics.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/operating_system"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Operating Systems</h5>
            <p>
              Test your grasp of operating system concepts like memory,
              processes, scheduling, and resource management.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/dbms"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">DBMS</h5>
            <p>
              Quiz yourself on basics of DBMS like SQL, keys, ER diagrams,
              normalization, and simple query operations.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/data_science"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Data Science</h5>
            <p>
              Test your basics in data cleaning and analysis, statistics,
              visualization, Python, and real-world data handling.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/software_engineering"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Software Engineering</h5>
            <p>
              Assess your understanding of software development life cycle,
              design models, testing, and maintenance practices.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/machine_learning"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Machine Learning</h5>
            <p>
              Evaluate your grasp of ML algorithms, model training, and
              real-world data-driven decision-making concepts.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
