<!-- <div class="banner">
  <div class="head1">
    <h1 style="font-size: 15vh;" class="text-primary">PrepTech</h1>
    <h6 style="font-size:5vh;">
      Industry Preparedness in Computer Science:<br>A Guide for 12th Grade &
      Diploma Students!!!
    </h6>
  </div>
  <img src="../../../assets/img/smiling-girl-book.png" alt="young girl holding book" />
</div> -->
<div class="banner">
  <div class="head1">
    <h1 class="title text-primary">PrepTech</h1>
    <h6 class="sub-title">
      Industry Preparedness in Computer Science:<br>A Guide for 12th Grade &
      Diploma Students!!!
    </h6>
  </div>

  <div class="hero-box">
    <img src="../../../assets/img/smiling-girl-book.png" alt="young girl holding book" class="hero-img" />
  </div>
</div>


<!-- Service Start -->

<div class="container-xxl py-5">


  <div class="container">

    <div class="row g-4">
      <div routerLink="/student/job_role" class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s"
        >
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Job Roles</h5>
            <p>
              Try simple, bite-sized challenges to boost your confidence and coding fluency—one step at a time!!
            </p>
          </div>
        </div>
      </div>
      <div routerLink="/student/subjects" class="col-lg-3 col-sm-6 wow fadeInUp" role="button" data-wow-delay="0.3s">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <h5 class="mb-3">Revise Important Topics</h5>
            <p>
              Sharp Subjects like DSA, OS, Computer Networks, Cloud Computing, DBMS, etc.!!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" routerLink="/student/languages">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <h5 class="mb-3">Examine your Skills</h5>
            <p>
              Get your Languages and Frameworks like C, C++, Python, SQL, ReactJs, Angular TESTED!!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/aptitude">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-primary mb-4"></i>
            <h5 class="mb-3">Sharpen your Aptitude</h5>
            <p>
              Master and Stand out in a competitive world by building the skills that matter!!
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Service End -->