<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-2">Login</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Login</li>
  </ol>
</div>
<!-- Single Page Header End -->


<!-- Contact Start -->
<div class="container-fluid contact py-5">
  <div class="container py-5">
    <div class="p-5 bg-light rounded">
      <div class="row g-4">
        <div class="col-12">
          <div class="text-center mx-auto" style="max-width: 700px;">
            <h1 class="text-primary">Login For More ..............</h1>
            <p class=" text-uppercase pt-2" style="color: black;">
              <strong>Don't have account? / </strong> <a class="text-primary"
                routerLink="/student/register">Register</a>
            </p>

          </div>
        </div>

        <div class="col-lg-6 offset-lg-3 ">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Email"
              formControlName="email">

            <input type="password" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Password"
              formControlName="password">

            <button class="btn btn-primary w-100 py-3" type="submit">Login</button>
          </form>


        </div>

      </div>
    </div>
  </div>
</div>
<!-- Contact End -->