 
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="display-3 text-white animated slideInDown">LANGUAGES AND FRAMEWORKS</h1>
        <nav aria-label="breadcrumb">
         
        </nav>
      </div>
    </div>
  </div>
</div>
 
 
 
 <!-- LANGUAGES AND FRAMEWORKS -->
  <div class="container py-5">
    <h1 class="mb-3 text-center"></h1>
    <div class="row g-4">

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" routerLink="/student/python"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <h5 class="mb-3">Python</h5>
            <p>
              Quiz yourself on Python basics like variables, loops, functions,
              lists, dictionaries, and file handling.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" routerLink="/student/c_language"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <h5 class="mb-3">C</h5>
            <p>
              Check your C programming skills—covering variables, loops, arrays,
              pointers, and basic functions.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" routerLink="/student/c_plus_plus"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-primary mb-4"></i>
            <h5 class="mb-3">C++</h5>
            <p>
              Test your C++ knowledge on OOP concepts, functions,
              pointers, classes, and inheritance basics.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/sql"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">SQL</h5>
            <p>
              Assess your SQL knowledge with queries, joins, constraints,
             and database structure basics.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/java"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Java</h5>
            <p>
              Test your Java skills with OOP concepts, classes, interfaces, exception handling, collections, and basic syntax.
            </p>
          </div>
        </div>

      </div><div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/java_script"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">JavaScript</h5>
            <p>
              Quiz yourself on JS basics like variables, functions, DOM manipulation, events, and data types.
            </p>
          </div>
        </div>

      </div><div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/react_js"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">React JS</h5>
            <p>
              Assess your React knowledge: components, props, state, hooks, JSX, and functional programming basics.
            </p>
          </div>
        </div>

      </div><div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/angular"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Angular</h5>
            <p>
              Check your skills in Angular components, routing, templates, services, and two-way data binding.
            </p>
          </div>
        </div>
      </div>
    </div>
    
