  
   <div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-3">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="display-3 text-white animated slideInDown">APTITUDE</h1>
        <nav aria-label="breadcrumb">
         
        </nav>
      </div>
    </div>
  </div>
</div>
  
  
  <!-- APTITUDE -->
    <div class="container py-5">
      <h1 class="mb-3 text-center"></h1>
      <div class="row g-4">

        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" routerLink="/student/analytical_aptitude"  style="cursor: pointer;">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
              <h5 class="mb-3">Analytical Aptitude</h5>
              <p>
                Enhance your Logical Reasoning by solving puzzles, patterns,
                sequences, data sufficiency.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" routerLink="/student/numerical_aptitude" style="cursor: pointer;">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-globe text-primary mb-4"></i>
              <h5 class="mb-3">Numerical Aptitude</h5>
              <p>
                Examine your Quantitative Ability by attempting questions based
                on Time & work, profit & loss, ratios.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" routerLink="/student/technical_aptitude" style="cursor: pointer;">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-home text-primary mb-4"></i>
              <h5 class="mb-3">Technical Aptitude</h5>
              <p>
                Attempt basic coding, logic building, pseudo code, debugging,
                Specially for CS/IT students.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/verbal_ability" style="cursor: pointer;">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
              <h5 class="mb-3">Verbal Ability</h5>
              <p>
                Solve some Grammar, synonyms/antonyms, sentence correction,
                comprehension.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  