body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: #f7f9fc;
      color: #333;
    }
    h2 {
      color: #0059b3;
      margin-top: 30px;
    }
    .job {
      background-color: #49adff;
      padding: 15px;
      border: 1px solid #d3d3d3;
      border-radius: 8px;
      margin-bottom: 20px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.08);
    }
    .label {
      font-weight: bold;
      color: #0059b3;
    }
    
.card {
  background-color: rgb(224, 247, 250); /* Light blue */
  width: 450px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}



h1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #06bbcc 0%, #19dbed 50%, #06bbcc 100%);
  padding: 24px 36px;

  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-bottom: 30px;
  flex-wrap: wrap;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
  background-blend-mode: overlay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.job-row{
    display: flex;
    justify-content: space-around;
    margin: 20px 30px;

}