<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a routerLink="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>PrepTech</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="home1" class="nav-item nav-link active">Home</a>

            <a routerLink="courses" class="nav-item nav-link">Courses</a>


        </div>
        @if (isLoggedIn) {
        <a (click)="logout()" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block" style="cursor:pointer;">
            Logout
        </a>
        } @else {
        <a routerLink="/student/register" class="nav-item nav-link">Register</a>
        <a routerLink="/login" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">
            Login <i class="fa fa-arrow-right ms-3"></i>
        </a>
        }


    </div>
</nav>
<!-- Navbar End -->