<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-3">Courses</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active text-white">Courses</li>
  </ol>
</div>
<!-- Single Page Header End -->

<!-- Course Start -->
<!-- SUBJECTS  -->
<div class="container-xxl py-3">
  <div class="container">
    <h1 class="mb-3 text-center">SUBJECTS</h1>
    <div class="row g-4">

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" routerLink="/student/data_structures" style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <h5 class="mb-3">Data Structures and Algorithms</h5>
            <p>
              Master the logic behind efficient coding with essential data
              structures and algorithms.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" routerLink="/student/cloud_computing"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <h5 class="mb-3">Cloud Computing</h5>
            <p>
              Evaluate your knowledge of cloud models, services, and
              infrastructure through real-world quiz scenarios.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" routerLink="/student/computer_networks"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-primary mb-4"></i>
            <h5 class="mb-3">Computer Networks</h5>
            <p>
              Test your knowledge of networking concepts, OSI model, protocols,
              IP addressing, and data transmission basics.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/operating_system"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Operating Systems</h5>
            <p>
              Test your grasp of operating system concepts like memory,
              processes, scheduling, and resource management.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/dbms"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">DBMS</h5>
            <p>
              Quiz yourself on basics of DBMS like SQL, keys, ER diagrams,
              normalization, and simple query operations.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/data_science"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Data Science</h5>
            <p>
              Test your basics in data cleaning and analysis, statistics,
              visualization, Python, and real-world data handling.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/software_engineering"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Software Engineering</h5>
            <p>
              Assess your understanding of software development life cycle,
              design models, testing, and maintenance practices.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/machine_learning"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Machine Learning</h5>
            <p>
              Evaluate your grasp of ML algorithms, model training, and
              real-world data-driven decision-making concepts.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LANGUAGES AND FRAMEWORKS -->
  <div class="container py-5">
    <h1 class="mb-3 text-center">LANGUAGES AND FRAMEWORKS</h1>
    <div class="row g-4">

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" routerLink="/student/python"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
            <h5 class="mb-3">Python</h5>
            <p>
              Quiz yourself on Python basics like variables, loops, functions,
              lists, dictionaries, and file handling.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" routerLink="/student/c_language"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
            <h5 class="mb-3">C</h5>
            <p>
              Check your C programming skills—covering variables, loops, arrays,
              pointers, and basic functions.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" routerLink="/student/c_plus_plus"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-home text-primary mb-4"></i>
            <h5 class="mb-3">C++</h5>
            <p>
              Test your C++ knowledge on OOP concepts, functions,
              pointers, classes, and inheritance basics.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/sql"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">SQL</h5>
            <p>
              Assess your SQL knowledge with queries, joins, constraints,
             and database structure basics.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/java"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Java</h5>
            <p>
              Test your Java skills with OOP concepts, classes, interfaces, exception handling, collections, and basic syntax.
            </p>
          </div>
        </div>

      </div><div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/java_script"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">JavaScript</h5>
            <p>
              Quiz yourself on JS basics like variables, functions, DOM manipulation, events, and data types.
            </p>
          </div>
        </div>

      </div><div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/react_js"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">React JS</h5>
            <p>
              Assess your React knowledge: components, props, state, hooks, JSX, and functional programming basics.
            </p>
          </div>
        </div>

      </div><div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/angular"  style="cursor: pointer;">
        <div class="service-item text-center pt-3">
          <div class="p-4">
            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
            <h5 class="mb-3">Angular</h5>
            <p>
              Check your skills in Angular components, routing, templates, services, and two-way data binding.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- APTITUDE -->
    <div class="container py-5">
      <h1 class="mb-3 text-center">APTITUDE</h1>
      <div class="row g-4">

        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" routerLink="/student/analytical_aptitude"  style="cursor: pointer;">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
              <h5 class="mb-3">Analytical Aptitude</h5>
              <p>
                Enhance your Logical Reasoning by solving puzzles, patterns,
                sequences, data sufficiency.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s" routerLink="/student/numerical_aptitude" style="cursor: pointer;">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-globe text-primary mb-4"></i>
              <h5 class="mb-3">Numerical Aptitude</h5>
              <p>
                Examine your Quantitative Ability by attempting questions based
                on Time & work, profit & loss, ratios.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s" routerLink="/student/technical_aptitude" style="cursor: pointer;">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-home text-primary mb-4"></i>
              <h5 class="mb-3">Technical Aptitude</h5>
              <p>
                Attempt basic coding, logic building, pseudo code, debugging,
                Specially for CS/IT students.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s" routerLink="/student/verbal_ability" style="cursor: pointer;">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
              <h5 class="mb-3">Verbal Ability</h5>
              <p>
                Solve some Grammar, synonyms/antonyms, sentence correction,
                comprehension.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Course End -->
</div>
